In [166]:
import pandas as pd

## Bulletines

Monthly aggregated data

In [173]:
 #Monthly aggregated data

df_bulletines = pd.read_csv('../outputs/viz/bulletines_totals.csv')
df_bulletines['Tasso di sovraffollamento'] = (df_bulletines['Detenuti presenti - totale'] / df_bulletines['Capienza Regolamentare']).round(2)
df_bulletines.to_csv('../outputs/viz/bulletines_totals.csv', index=False, encoding="UTF-8-sig")

In [174]:
df_bulletines.head()

,Ultimo aggiornamento,Capienza Regolamentare,Detenuti presenti - totale,Detenuti presenti - donne,Detenuti presenti - stranieri,Tasso di sovraffollamento
0,2019-01-31,50550,60125,2580,20309,1.19
1,2019-02-28,50522,60348,2623,20325,1.19
2,2019-03-31,50514,60611,2656,20412,1.20
3,2019-04-30,50511,60439,2659,20324,1.20
4,2019-05-31,50528,60476,2648,20277,1.20

## Institutes

In [169]:
df = pd.read_csv('../outputs/clean/institutes.csv')

## Most recent data

In [196]:
# Get the most recent update
df['posti_aggiornati_al'] = pd.to_datetime(df['posti_aggiornati_al'], format='%Y/%m/%d')
df_most_recent = df.loc[df.groupby('id')['posti_aggiornati_al'].idxmax()]
# Adding columns for places available and overcrowding index
df_most_recent['posti_reali'] = df_most_recent['posti_regolamentari'] - df_most_recent['posti_non_disponibili']
df_most_recent['tasso_sovraffollamento'] = round(df_most_recent['posti_occupati'] / df_most_recent['posti_reali'],2)
df_most_recent.head()

,id,nome,tipo,posti_regolamentari,posti_non_disponibili,posti_occupati,posti_aggiornati_al,asl,nome_responsabile_asl,cognome_responsabile_asl,...,personale_polizia_effettivi,personale_polizia_previsti,personale_amministrativi_effettivi,personale_amministrativi_previsti,personale_educatori_effettivi,personale_educatori_previsti,personale_polizia_aggiornato_a,personale_amministrativo_aggiornato_al,posti_reali,tasso_sovraffollamento
369,MII152284,Genova Marassi,Casa circondariale,535,0,676,2024-10-06,ASL,Maurizio,Cechini,...,357,336,26,35,10,10,NaN,NaN,535,1.26
232,MII157783,Alba,Casa di reclusione - Giuseppe Montalto,138,89,38,2024-10-06,CN2 Alba-Bra,Paolo,Lo Russo,...,88,107,10,14,3,3,NaN,NaN,49,0.78
302,MII158895,Milano San Vittore,Casa circondariale - Francesco Di Cataldo,700,254,1016,2024-10-06,Milano,Ruggiero,Giuliani,...,583,655,35,45,13,14,NaN,NaN,446,2.28
337,MII158901,Belluno,Casa circondariale,89,7,105,2024-10-06,n.1 Belluno,Marco,Cristofoletti,...,81,85,8,14,2,2,NaN,NaN,82,1.28
290,MII158910,Agrigento,Casa circondariale - Pasquale Di Lorenzo,283,4,387,2024-10-06,ASP 1 AGRIGENTO,GIUSEPPE,MANCUSO,...,217,197,23,23,5,5,NaN,NaN,279,1.39

In [197]:
# Adding institutes' information
# Read institutes' csv

df_info = pd.read_csv('../outputs/raw/institutes_info.csv')
df_info = df_info.rename(columns={'id_istituto': 'id'})

merged_df = pd.merge(df_most_recent, df_info, on='id')

# Adding additional columns
merged_df['posti_reali'] = merged_df['posti_regolamentari'] - merged_df['posti_non_disponibili']

merged_df['tasso_affollamento'] = (merged_df['posti_occupati'] / merged_df['posti_reali']).round(2)

# Keep only relevant columns
df_filtered = merged_df[
  [
    'id',
    'nome',
    'tasso_affollamento',
    'indirizzo',
    'tipo',
   'posti_regolamentari',
    'posti_non_disponibili',
    'posti_reali',
    'posti_occupati',
    'posti_aggiornati_al',
    'personale_polizia_previsti',
    'personale_polizia_effettivi',
    'personale_polizia_aggiornato_a',
    'personale_amministrativi_previsti',
    'personale_amministrativi_effettivi',
    'personale_amministrativo_aggiornato_al',
    'latitudine',
    'longitude'
    ]
    ]

df_filtered.head()

,id,nome,indirizzo,tipo,posti_regolamentari,posti_non_disponibili,posti_reali,tasso_affollamento,posti_occupati,posti_aggiornati_al,personale_polizia_previsti,personale_polizia_effettivi,personale_polizia_aggiornato_a,personale_amministrativi_previsti,personale_amministrativi_effettivi,personale_amministrativo_aggiornato_al,latitudine,longitude
0,MII152284,Genova Marassi,Piazzale Marassi n.2 - 16139 Genova,Casa circondariale,535,0,535,1.26,676,2024-10-06,336,357,NaN,35,26,NaN,44.417913,8.951100
1,MII157783,Alba,Loc.Toppino - Via Vivaro n. 14 - 12051 Alba,Casa di reclusione - Giuseppe Montalto,138,89,49,0.78,38,2024-10-06,107,88,NaN,14,10,NaN,44.691542,8.025636
2,MII158895,Milano San Vittore,Piazza Filangieri n.2 - 20123 Milano,Casa circondariale - Francesco Di Cataldo,700,254,446,2.28,1016,2024-10-06,655,583,NaN,45,35,NaN,45.461598,9.166399
3,MII158901,Belluno,Via Baldenich n.11 - 32100 Belluno,Casa circondariale,89,7,82,1.28,105,2024-10-06,85,81,NaN,14,8,NaN,46.139738,12.219297
4,MII158910,Agrigento,Piazza Di Lorenzo n. 1 - 92100 Agrigento,Casa circondariale - Pasquale Di Lorenzo,283,4,279,1.39,387,2024-10-06,197,217,NaN,23,23,NaN,37.319422,13.617396

In [200]:
df_filtered.head()

,id,nome,indirizzo,tipo,posti_regolamentari,posti_non_disponibili,posti_reali,tasso_affollamento,posti_occupati,posti_aggiornati_al,personale_polizia_previsti,personale_polizia_effettivi,personale_polizia_aggiornato_a,personale_amministrativi_previsti,personale_amministrativi_effettivi,personale_amministrativo_aggiornato_al,latitudine,longitude
0,MII152284,Genova Marassi,Piazzale Marassi n.2 - 16139 Genova,Casa circondariale,535,0,535,1.26,676,2024-10-06,336,357,NaN,35,26,NaN,44.417913,8.951100
1,MII157783,Alba,Loc.Toppino - Via Vivaro n. 14 - 12051 Alba,Casa di reclusione - Giuseppe Montalto,138,89,49,0.78,38,2024-10-06,107,88,NaN,14,10,NaN,44.691542,8.025636
2,MII158895,Milano San Vittore,Piazza Filangieri n.2 - 20123 Milano,Casa circondariale - Francesco Di Cataldo,700,254,446,2.28,1016,2024-10-06,655,583,NaN,45,35,NaN,45.461598,9.166399
3,MII158901,Belluno,Via Baldenich n.11 - 32100 Belluno,Casa circondariale,89,7,82,1.28,105,2024-10-06,85,81,NaN,14,8,NaN,46.139738,12.219297
4,MII158910,Agrigento,Piazza Di Lorenzo n. 1 - 92100 Agrigento,Casa circondariale - Pasquale Di Lorenzo,283,4,279,1.39,387,2024-10-06,197,217,NaN,23,23,NaN,37.319422,13.617396

In [172]:
# Saving csv
df_filtered.to_csv('../outputs/viz/institutes_most_recent.csv', index=False, encoding='UTF-8-sig')

## 1. Most recent totals

In [176]:
columns_to_sum = [
    'posti_regolamentari',
    'posti_non_disponibili',
    'posti_reali',
    'posti_occupati',
    'personale_polizia_previsti',
    'personale_polizia_effettivi',
    'personale_amministrativi_previsti',
    'personale_amministrativi_effettivi'
]

# Create a new DataFrame with the sum of the specified columns
df_summed = pd.DataFrame(df_filtered[columns_to_sum].sum()).transpose()

# Optionally, add meaningful names for the new DataFrame
df_summed.index = ['Total Sums']  # Rename the index for clarity

# Display the resulting summed DataFrame
df_summed

,posti_regolamentari,posti_non_disponibili,posti_reali,posti_occupati,personale_polizia_previsti,personale_polizia_effettivi,personale_amministrativi_previsti,personale_amministrativi_effettivi
Total Sums,51196,4384,46812,61912,34035,31433,4049,3388

In [177]:
df_summed['tasso_sovraffollamento'] = (df_summed['posti_occupati'] / df_summed['posti_reali']).round(2)

df_summed.head()

,posti_regolamentari,posti_non_disponibili,posti_reali,posti_occupati,personale_polizia_previsti,personale_polizia_effettivi,personale_amministrativi_previsti,personale_amministrativi_effettivi,tasso_sovraffollamento
Total Sums,51196,4384,46812,61912,34035,31433,4049,3388,1.32

In [178]:
df_summed.to_csv('../outputs/viz/institutes_most_recent_totals.csv', index=False)

### Institutes - Totals

In [179]:
df = pd.read_csv('../outputs/clean/institutes.csv')

In [180]:
df.head()

,id,nome,tipo,posti_regolamentari,posti_non_disponibili,posti_occupati,posti_aggiornati_al,asl,nome_responsabile_asl,cognome_responsabile_asl,...,cognome_direttore,ruolo_direttore,personale_polizia_effettivi,personale_polizia_previsti,personale_amministrativi_effettivi,personale_amministrativi_previsti,personale_educatori_effettivi,personale_educatori_previsti,personale_polizia_aggiornato_a,personale_amministrativo_aggiornato_al
0,MII179988,Reggio Calabria Arghillà,Casa circondariale,294,0,319,2024-10-05,5 Reggio Calabria,Luciano,Lucania,...,Stendardo,Titolare,131,164,12,32,5,8,2024-07-31,2024-07-31
1,MII172610,Brescia Verziano,Casa di reclusione,71,0,119,2024-10-05,Spedali Civili di Brescia,Luigi,Leone,...,NaN,NaN,79,95,2,0,1,0,2024-07-31,2024-07-31
2,MII172320,Busto Arsizio,Casa circondariale,240,14,431,2024-10-05,Busto Arsizio,Ezia,Iorio,...,Pitaniello,Titolare,193,190,16,21,5,5,2024-07-31,2024-07-31
3,MII173712,Como,Casa circondariale,226,1,426,2024-10-05,Como,Giuseppe,Carrano,...,Rinaldi,Titolare,208,216,18,23,6,6,2024-07-31,2024-07-31
4,MII173747,Cremona,Casa circondariale,394,10,586,2024-10-05,CREMONA,Rossano,Botto,...,Padula,Titolare,188,202,15,23,5,6,2024-07-31,2024-07-31

In [182]:
df['posti_aggiornati_al'].value_counts()

2024-10-05    190
2024-10-06    190
Name: posti_aggiornati_al, dtype: int64

In [185]:
df.head()

,id,nome,tipo,posti_regolamentari,posti_non_disponibili,posti_occupati,posti_aggiornati_al,asl,nome_responsabile_asl,cognome_responsabile_asl,...,cognome_direttore,ruolo_direttore,personale_polizia_effettivi,personale_polizia_previsti,personale_amministrativi_effettivi,personale_amministrativi_previsti,personale_educatori_effettivi,personale_educatori_previsti,personale_polizia_aggiornato_a,personale_amministrativo_aggiornato_al
0,MII179988,Reggio Calabria Arghillà,Casa circondariale,294,0,319,2024-10-05,5 Reggio Calabria,Luciano,Lucania,...,Stendardo,Titolare,131,164,12,32,5,8,2024-07-31,2024-07-31
1,MII172610,Brescia Verziano,Casa di reclusione,71,0,119,2024-10-05,Spedali Civili di Brescia,Luigi,Leone,...,NaN,NaN,79,95,2,0,1,0,2024-07-31,2024-07-31
2,MII172320,Busto Arsizio,Casa circondariale,240,14,431,2024-10-05,Busto Arsizio,Ezia,Iorio,...,Pitaniello,Titolare,193,190,16,21,5,5,2024-07-31,2024-07-31
3,MII173712,Como,Casa circondariale,226,1,426,2024-10-05,Como,Giuseppe,Carrano,...,Rinaldi,Titolare,208,216,18,23,6,6,2024-07-31,2024-07-31
4,MII173747,Cremona,Casa circondariale,394,10,586,2024-10-05,CREMONA,Rossano,Botto,...,Padula,Titolare,188,202,15,23,5,6,2024-07-31,2024-07-31

In [186]:
# Define the columns you want to sum
columns_to_sum = [
    'posti_regolamentari',
    'posti_non_disponibili',
    'posti_occupati',
    'personale_polizia_previsti',
    'personale_polizia_effettivi',
    'personale_amministrativi_previsti',
    'personale_amministrativi_effettivi'
]

# Group by 'posti_aggiornati_al' and sum the specified columns
aggregated_df = df.groupby('posti_aggiornati_al')[columns_to_sum].sum().reset_index()

# Print or inspect the aggregated DataFrame
aggregated_df

,posti_aggiornati_al,posti_regolamentari,posti_non_disponibili,posti_occupati,personale_polizia_previsti,personale_polizia_effettivi,personale_amministrativi_previsti,personale_amministrativi_effettivi
0,2024-10-05,51196,4384,61880,34035,31433,4049,3388
1,2024-10-06,51196,4384,61912,34035,31433,4049,3388

In [190]:
aggregated_df.dtypes

posti_aggiornati_al                   object
posti_regolamentari                    int64
posti_non_disponibili                  int64
posti_occupati                         int64
personale_polizia_previsti             int64
personale_polizia_effettivi            int64
personale_amministrativi_previsti      int64
personale_amministrativi_effettivi     int64
dtype: object

In [192]:
aggregated_df['posti_reali'] = aggregated_df['posti_regolamentari'] - aggregated_df['posti_non_disponibili']
aggregated_df['indice_sovraffollamento'] = (aggregated_df['posti_occupati'] / aggregated_df['posti_reali']).round(2)

aggregated_df

,posti_aggiornati_al,posti_regolamentari,posti_non_disponibili,posti_occupati,personale_polizia_previsti,personale_polizia_effettivi,personale_amministrativi_previsti,personale_amministrativi_effettivi,posti_reali,indice_sovraffollamento
0,2024-10-05,51196,4384,61880,34035,31433,4049,3388,46812,1.32
1,2024-10-06,51196,4384,61912,34035,31433,4049,3388,46812,1.32

In [194]:
aggregated_df['posti_aggiornati_al'] = pd.to_datetime(aggregated_df['posti_aggiornati_al'])
aggregated_df = aggregated_df.sort_values(by='posti_aggiornati_al')
aggregated_df.reset_index(drop=True, inplace=True)
aggregated_df

,posti_aggiornati_al,posti_regolamentari,posti_non_disponibili,posti_occupati,personale_polizia_previsti,personale_polizia_effettivi,personale_amministrativi_previsti,personale_amministrativi_effettivi,posti_reali,indice_sovraffollamento
0,2024-10-05,51196,4384,61880,34035,31433,4049,3388,46812,1.32
1,2024-10-06,51196,4384,61912,34035,31433,4049,3388,46812,1.32

In [195]:
aggregated_df.to_csv('../outputs/viz/institutes_totals.csv', index=False)